/* style.css | Magic Mirror v0.2 */

@font-face {
  font-family: 'More Sugar';
  src: url('/static/assets/fonts/more_sugar/MoreSugar-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'More Sugar', sans-serif;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 1s ease-in-out;
  color: white;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  text-align: center;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
}

.forecast-hourly {
  width: 430px; 
  height: 100px;
  max-width: 90vw;
  padding: 12px;
  border-radius: 60px;
  background-color: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  margin: 5px auto;
  box-sizing: border-box;
}

.forecast-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 15px;
  gap: 15px;
  overflow-x: auto;
}

.forecast-item {
  text-align: center;
  color: white;
  font-size: 0.85em;
  min-width: 60px;
  gap: -10px;
}

.forecast-item img {
  width: 25px;
  height: 25px;
  margin: 2px 0;
}


.clock-wrapper {
  text-align: center;
  margin-bottom: 10px;
}

.clock {
  font-size: calc(110px * var(--scale));
  margin-bottom: 0;
}

.date {
  font-size: calc(35px * var(--scale));
  margin-top: -25px;
  opacity: 0.85;
}
.greeting {
  font-size: calc(32px * var(--scale));
  transform: translateY(100px);
}
.weather {
  font-size: calc(27px * var(--scale));
  margin-top: 50px;
}